@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?c161i7');
  src:  url('../fonts/icomoon.eot?c161i7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?c161i7') format('truetype'),
    url('../fonts/icomoon.woff?c161i7') format('woff'),
    url('../fonts/icomoon.svg?c161i7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dialogue:before {
  content: "\e900";
  color: #333;
}
.icon-分类:before {
  content: "\e901";
  color: #333;
}
.icon-购物车空:before {
  content: "\e902";
  color: #333;
}
.icon-三角下标（正方形）:before {
  content: "\e903";
  color: #333;
}
.icon-首页 .path1:before {
  content: "\e904";
  color: rgb(78, 109, 196);
}
.icon-首页 .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(220, 229, 247);
}
.icon-首页 .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(78, 109, 196);
}
.icon-首页 .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-首页 .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(78, 109, 196);
}
.icon-我的:before {
  content: "\e909";
  color: #fff;
}
